@use 'assets' as *;

.about {
    background-color: $c-dark;
    color: $c-light;
    padding: 2rem;
    text-align: center;
    @include container();

    .about-intro{
      padding: 2rem .5rem;

        .about-text > * {
          padding: .5rem 0;
          font-size: .9rem;
        }

        .about-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
            transition: transform .75s;
    
            .about-img{
              width: 18rem;
              height: auto;
              border: 2px solid $c-accent;
            }
            

            &:hover{
              transform: translate(10px,-10px);
            }
            
        }
    }


    hr {
      display: none;
    }

    .about-skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      justify-items: center;
      row-gap: 2rem;
      padding: 1rem;

      .c-icon{
        
          max-width: 6rem;
          height: auto;
          border-radius: 10px;
        
      }
    }
    .about-skills > * {
      font-size: max(4rem);
    }
  }

@include mq($tablet){
  .about{

    .about-skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}


@include mq ($laptop){

  .about {
      text-align: left;
      
      .about-intro {
        display: grid;
        column-gap: 0.5rem;
        grid-template-columns: 3fr 2fr;
        padding: 1rem 2rem;
        margin-bottom: 2rem;

        .about-text > * {
          font-size: 1rem;
        }

        .about-image{
          padding: 0;
        }
      }

      hr {
        display: block;
        width: 95%;
        margin: 1rem auto;
      }

      .about-skills {
        padding: 2rem 0.5rem;
        display: flex;
        justify-content: space-around;

        .c-icon{

          img{
            max-width: 6rem;
          }
        }

      }

      .about-skills > * {
        font-size: max(6rem);
      }
    } 
}