@use 'assets' as *;

.contact {
    padding: 2rem;
    @include container();

    .contact-banner{
        max-width: 1000px;
        margin: 0 auto;
        background: rgb(157,125,250);
        background: linear-gradient(239deg, rgba(157,125,250,1) 22%, rgba(147,110,255,1) 49%, rgba(133,91,255,1) 89%);
        color: $c-dark;
        text-align: center;
        border-radius: 10px;
        padding: 1rem;
        
        h1 {
            font-size: 1.5rem;
          }
    
        p {
            padding: 0.75rem 0;
            font-size: 0.9rem;
        }
    
        button {
            padding: .5rem 1rem;
        }
    }

}

@include mq($tablet){
    .contact {

        .contact-banner{

            p {
                font-size: 1rem;
                font-weight: 600;
            }
        }

    }
}