@use "assets" as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    @include container();
  }

.logo {
    max-width: 6rem;
    height: auto;
}

.hamburger {
    background-color: inherit;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
        color: $c-accent;
    }
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    transition: transform 300ms ease-out;
    transform: translateX(200%);

    .nav {
        background-color: $c-dark;
        color: $c-light;
        list-style: none;
        text-align: center;
        padding: 1rem;

        li {
            padding: 0.5rem 1rem;
        }

        li * {
            text-decoration: none;
            font-size: $fs-h3;
            font-weight: $fw-semi;
            transition: all 300ms;
            text-transform: uppercase;

            &:hover {
                color: $c-accent;
                text-decoration: underline;
            }
        }

    }
}

.nav-toggle {
    transform: translate(0);
}

@include mq($laptop){

    header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }

    .logo {
        max-width: 8rem;
    }

    .hamburger {
        display: none;
    }

    nav {
        position: static;
        transform: translateY(0);

        .nav {
            display: flex;
            list-style: none;
            color: inherit;
            background-color: inherit;
            padding: 0;

            li {
                padding: 0;
            }

            li * {
                text-decoration: none;
                font-size: 1.8rem;
                font-weight: $fw-bold;
                padding-left: 1.5rem;
            }
        }
    }
}