@use 'assets' as *;

.projects {
    padding: 2rem 1rem;
    text-align: center;
    @include container();

    h1{
      color: $c-accent;
    }

    .projects-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
      margin-top: 2rem;
    }
  }