@use 'assets' as *;

.work {
    background-color: $c-darker;
    text-align: center;
    padding: 2rem 1rem;
    color: $c-light;
    @include container();

    .work-con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 4rem 0;

        .work-list {
            max-width: 360px;

            i {
                font-size: 4rem;
                color: $c-accent;
                padding-bottom: 2rem;

                &:hover{
                    animation: shake .35s ease-in-out infinite;
                }
            }

            h3 {
                font-size: $fs-h3;
                text-transform: uppercase;
            }

            p{
                font-size: .9rem;
                padding: 1rem;
            }
            
        }
    }
        
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px) rotate(0.5deg); }
    50% { transform: translateX(3px) rotate(-0.5deg); }
    75% { transform: translateX(-3px) rotate(0.5deg); }
    100% { transform: translateX(0); }
  }

@include mq($laptop){
    .work {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/image/skill-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 4rem 2rem;

        .work-con {
    
            .work-list {
    
                i {
                    font-size: 5rem;
                }
    
                h3 {
                    font-size: 1.5rem;
                }
    
                p{
                    font-size: 1rem;
                    padding:1rem .5rem;
                }
                
            }
        }
    }
}