@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$ff-primary: "Poppins", sans-serif;

$fw-semi: 600;
$fw-bold: 700;

$c-light: #f0f9ff;
$c-dark: #171717;
$c-darker: #0a0a0a;
$c-accent: #a78bfa;
$c-btn: #ffe500;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

// Screen Sizes
$tablet: 576px;
$laptop: 960px;

@mixin container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@mixin mq($size){
  @media (min-width: $size) {
      @content
  }
}