@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-sky-50 dark:bg-zinc-950 transition-colors duration-300;
  }

  body {
    @apply font-poppins text-neutral-900 dark:text-neutral-200;
  }
}

@layer components {
  .nav-links {
    @apply text-xl lg:text-3xl lg:font-semibold uppercase hover:text-violet-400 relative after:absolute after:-bottom-0.5 after:left-0 after:h-1 after:w-full after:origin-bottom-right after:scale-x-0 after:bg-violet-400 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
  }

  .loader {
    @apply relative uppercase text-2xl font-bold tracking-widest before:top-10 before:bg-violet-400 after:bg-violet-400 before:absolute after:absolute before:block after:block before:size-4 after:size-4 after:bottom-10;
  }

  .loader::before,
  .loader::after {
    animation: load 0.7s infinite alternate ease-in-out;
  }
}

@keyframes load {
  0% {
    left: -40px;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 160px;
    height: 30px;
    width: 15px;
  }
}
